@font-face {
    font-family: powerpufffont;
    src: url(assets/font1.ttf);
}

body {
    background: rgb(178,134,223);
    background: linear-gradient(90deg, rgba(178,134,223,1) 31%, rgba(156,106,205,1) 57%, rgba(156,106,205,1) 82%);
}

.secaofotos{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 3em;
}
.fotos{
    width: 100%;
    opacity: 75%;
}
.fotos:hover{
    transform: scale(1.03);
    opacity: 100%;
    box-shadow: 0cm 0cm 0.5cm rgba(0, 0, 0, 0.308);
    transition: 0.3s;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalhomenu{
    display: flex;
    gap:32px;
}
.cabecalhomenuitem{
    height: 1%;
}

.foto-overlay {
    position: relative;
    margin: 0px;
    width: 15%;
    gap:0;
}

.overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    padding: 0px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.15s;
    font-family: powerpufffont;
}

.foto-overlay:hover .overlay {
    opacity: 1;
    transform: scale(1.03);
}